* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .form{
    border-radius:3px;
    padding:10px 15px;
    background-color:rgba(0,0,0,0.2);
  }
  .select{
    width:100%;
    margin-bottom:15px;
    padding:7px 10px;
    border-radius:2px;
    color:#fff;
    background-color:#554c57;
    border:none;
    height:30px;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #iz6gh{
    flex-basis:30%;
  }
  #imc18{
    flex-basis:70%;
  }
  #if0si{
    padding:10px;
  }
  #ixiqk{
    padding:10px;
  }
  #ioxgj{
    padding:10px;
  }
  #ic50l{
    padding:10px;
  }
  #idwfg{
    flex-basis:30%;
  }
  #irlov{
    flex-basis:70%;
  }
  #ib7sw{
    padding:10px;
  }
  #iluk1{
    padding:10px;
  }
  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
  }
  